.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.catalog-row {
  flex: auto;
}

.cart-row {
  flex: 350px;
}

@media screen and (max-width: 1240px) {
  .container {
    max-width: 96%;
  }
}

@media screen and (max-width: 991px) {
  .cart-row {
    flex: 0;
  }
}