.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.catalog-col {
  width: 100%;
}

@media screen and (max-width: 1240px) {
  .container {
    max-width: 96%;
  }
}

@media screen and (max-width: 991px) {
  .cart-row {
    flex: 0;
  }
}